<div class="notfound-container">
    <div class="notfound-content">
        
        <h1 class="notfound-title">
             404 🔍
        </h1>
        <p class="notfound-description">
            Oops! Page Not Found.
        </p>
        <p class="p3"> It looks like nothing was found at this location. Maybe try one of the links below</p>

        <div class="notfound-actions">
            <button class="btn btn-primary" routerLink="/menu">
                🍽️ Ir a Menús
            </button>
            <button class="btn btn-secondary" routerLink="/home">
                🏠 Volver al Inicio
            </button>
        </div>
    </div>
</div>