<div class="container-fluid h-70 d-flex align-items-center justify-content-center bg-light">
  <div class="row justify-content-center w-100 ">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header bg-primary text-white text-center py-4">
          <h3 class="fw-light mb-0">
           <i class="bi bi-door-closed-fill"></i>
            Regístrate
          </h3>
        </div>
        <div class="card-body p-4">
          <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
            <div class="mb-3 ">
              <label for="name" class="form-label fw-semibold">
                <i class="bi bi-person-circle me-1"></i>
                Nombre
              </label>
              <input 
                id="name" 
                type="text" 
                formControlName="name"
                class="form-control form-control-lg"
                placeholder="Tu nombre"
                required="true"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label fw-semibold">
                <i class="bi bi-envelope me-1"></i>
                Correo Electrónico
              </label>
              <input 
                id="email" 
                type="email" 
                formControlName="email"
                class="form-control form-control-lg"
                placeholder="ejemplo@correo.com"
                required="true"
              />
            </div>
            
            <div class="mb-3">
              <label for="phone" class="form-label fw-semibold">
                <i class="bi bi-telephone me-1"></i>
                Teléfono
              </label>
              <input 
                id="phone" 
                type="tel" 
                formControlName="phone"
                class="form-control form-control-lg"
                placeholder="Tu teléfono"
                required="true"
              />
            </div>
            
            <!-- Campo Password -->
            <div class="mb-3">
              <label for="password" class="form-label fw-semibold">
                <i class="bi bi-lock me-1"></i>
                Contraseña
              </label>
              <input 
                id="password" 
                type="password" 
                formControlName="password"
                class="form-control form-control-lg"
                placeholder="Ingresa tu contraseña"
               
              />
             
            </div>

            <div class="mb-3">
              <label for="confirmPassword" class="form-label fw-semibold">
                <i class="bi bi-key-fill"></i>
                Confirmar Contraseña
              </label>
              <input 
                id="confirmPassword" 
                type="password" 
                formControlName="confirmPassword"
                class="form-control form-control-lg"
                placeholder="Confirma tu contraseña"
              />
             
            </div>

            <!-- Botón Submit -->
            <div class="d-grid mb-3">
              <button 
                type="submit" 
                class="btn btn-primary btn-lg"
                [disabled]="registerForm.invalid"
              >
                <i class="bi bi-box-arrow-in-right me-2"></i>
                Registrarme
              </button>
            </div>
          </form>
        </div>
        
        <!-- Footer del card -->
        <div class="card-footer bg-light text-center py-3">
          <small class="text-muted">
            <i class="bi bi-shield-check me-1"></i>
            Tus datos están protegidos
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
